h1 {
	font-size : 2.5rem !important;
}
h2 {
	font-size : 2rem !important;
}
h3 {
	font-size : 1.5rem !important;
}
h1,h2,h3,h4,h5,h6 {
	color : #40535E !important;
}
h1,h3,h4,h5,h6 {
	font-weight: 300 !important;
    	line-height: 1.1 !important;
}
.toctext{
	color : #000000 !important;
}
#div_content ul {
	list-style-type: initial !important;
}
#div_content ul li {
	list-style-type: initial !important;
	margin-left : 20px !important;
}
#div_content {
	padding-left : 400px !important; 
}
#side-nav {
	background-color:#F3F3F3 !important;
	z-index:-1 !important;
	top:90px !important;
	width : 350px !important;
}
#div_menuMobile {
	background-color:#F3F3F3 !important;
}
@media only screen and (max-width : 992px) {
	#div_content {
		padding-left : 0 !important; 
	}
}
.toclevel-2{
	margin-left : 10px !important;
}
nav ul a, nav {
  color: #444 !important;
  background-color: #eee !important;
  height: 90px !important;
}
.jeedomcolorbg {
	background-color: #40535E !important;
}
.jeedomcolor {
	color: #40535E !important;
}
.collection a.collection-item {
	color: #85a835 !important;
}
.container {
	width: 90% !important;
	@media only screen and (min-width: 993px){
		width: 90% !important;
	}
}
.waves-effect.waves-jeedom .waves-ripple {
	background-color: rgba(149, 193, 43, 0.65);
}
.toclevel-1 a{
	padding-left: 10px !important;
	height: 100% !important;
	vertical-align: middle !important;
}
.toclevel-1{
	vertical-align: middle !important;
}
.toctext{
	font-size : 1rem !important; 
}
.tocnumber{
	color : #40535E !important;
}
#side-nav a{
	line-height: 24px !important;
	font-size: 1.2rem !important;
}
.toc a.active{
	 font-weight: bold;
}
.dropdown-content li>a, .dropdown-content li>span{
	color : #40535E !important;
}
a{
	color:#ffab40 !important;
}
.titre{
	padding-left: 90px !important;
}
nav .nav-wrapper {
	position: absolute !important;
	padding-left: 20px !important;
}
